<!doctype html>
<html lang="es">
    <head>
        <title>Resultados</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="recursos/css/menulateral.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="recursos/css/style.css">
        <link href="css/font-awesome.min.css" rel="stylesheet">

        

        

        <meta name="viewport" content="width=device-width, user-scalable=no">
        <script type="text/javascript">
            function formReset()
            {
            document.getElementById("myForm").reset();
            
            }
        </script>

        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
       


    </head>

    <body class="secundario">
        <!-- Header con barra y buscador -->
        <header>
            <!-- Barra de navegación -->
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        
                <a class="navbar-brand d-lg-none" href="index.html">Memórica</a>
        
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <!-- menu que se colapsa   -->
                <div class="collapse navbar-collapse justify-content-between" id="menu">
        
                    <div class="col-4">
                        <ul class="navbar-nav"></ul>
                    </div>
        
                    <div class="col-4 d-flex justify-content-center">
                        <a class="navbar-brand d-none d-lg-block " href="index.html">Memórica</a>
                    </div>
        
                    <div class="col-4 d-flex justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link justify-content-end" href="#">iniciar sesion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fab fa-megaport fa-x3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        
            <!--Buscador-->
            <div class="container-fluid memoria-buscador altura-fija d-flex justify-content-center">
                <div class="row fila-centrada">
                    <div class="col-0 col-sm-3"></div>
                    <div class="col-12 col-sm-6 align-self-center">
                        <form class="form" action="resultados.html">
                            <input id="usersSearch" class="form-control rounded-pill ui-autocomplete-input" type="text" placeholder="¿Qué quieres encontrar hoy?" aria-label="Search">
                            <!-- <input id='searchButton' type='button' value='busquele'> -->
                        </form>
                    </div>
                    <div class="col-0 col-sm-3"></div>
                </div>
            </div>
        </header>

        <main>
            <!-- Barra de breadcrumb y botones de visualizador etc -->
            <div class="bg-dark">
                <div class="container ">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12 col-5  text-white p-0 d-flex ustify-content-lg-start">
                            <nav class=" p-0" aria-label="breadcrumb">
                                <ol class="breadcrumb bg-transparent m-0 px-3 py-2">
                                    <li class="breadcrumb-item texto-breadcrum"><i class="fas fa-home mr-1"></i></li>  
                                    <li class="breadcrumb-item texto-breadcrum"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active texto-breadcrum" aria-current="page">Buscador</li>
                                </ol>
                            </nav>  
                        </div>
                        <div class="col-lg-5 col-md-8 col-sm-12 col-7   text-white d-flex  justify-content-between px-3 py-2">
                            <p><a href="#">1</a>-<a href="#">8</a> de <a href="#">75</a> resultados</p>
                            <p>Mostrar</p> 
                               
                            <select class="form-control" id="exampleFormControlSelect1" style="width: 70px;">
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                                
                            </select>
                                <p>por pagina</p>    
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-lg-end justify-content-center">
                            <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary align-self-center">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> <p>Mosaico <i class="fas fa-dice-d20"></p></i>
                                    </label>
                                    <label class="btn btn-secondary align-self-center  active">
                                    <input type="radio" name="options" id="option2" autocomplete="off" > <p>Tabla <i class="fas fa-table"></p></i>
                                    </label>
                                    <label class="btn btn-secondary align-self-center">
                                    <input type="radio" name="options" id="option3" autocomplete="off"> <p>Lista <i class="fas fa-align-justify"></p></i>
                                    </label>
                            </div>       -->
                            <div class="btn-group btn-group-toggle" role="group" aria-label="Basic example">
                                <a type="button" class="btn btn-primary active" href="resultados3.html" role="button">Mosaico <i class="fas fa-dice-d20"></i></a>
                                <a type="button" class="btn btn-primary" href="resultados.html" role="button">Tabla <i class="fas fa-table"></i></a>
                                <a type="button" class="btn btn-primary" href="resultados2.html" role="button">Lista <i class="fas fa-align-justify"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Range-->

            <div class="py-2 px-3 container" >
                <div class="row d-flex justify-content-between">
                    <input type="text" id="añoinicio" readonly style="border:0; font-weight:bold; width: 40px;" min="0000" max="20219">
                    <input type="text" id="añofin" readonly style="border:0; font-weight:bold; width: 40px;" min="0000" max="2019">
                </div>
                <div class="" id="slider-range"></div>
                
            </div>

            

            <!--Contenedor-->

            <div class="container p-0">

                <div class="row">
                     <!--MENU Facetador-->
                    <div class="col-sm-0 col-md-0 col-lg-3 px-0">
                        <div class="nav-side-menu">
                            <div class="brand">Filtros</div>
                            <i class="fas fa-sliders-h fa-2x toggle-btn" data-toggle="collapse"
                                data-target="#menu-content"></i>
                                <form id="myForm">
                                    <div class="menu-list">
                                        <ul id="menu-content" class="menu-content collapse out">
                                            <li data-toggle="collapse" data-target="#autor" class="collapsed">
                                                <a href="#"><i class="fas fa-user-edit fa-lg"></i> Autor <span
                                                    class="fas fa-angle-down"></span></a>
                                            </li>
                                            <ul class="sub-menu collapse" id="autor">
                                                <label><input type="search" class="form-control form-control-sm" placeholder="Autor"
                                                        aria-controls="dataTable"></label>
                                            </ul>
                                            <li data-toggle="collapse" data-target="#tipo-de-objeto-digital" class="collapsed">
                                                <a href="#"><i class="fas fa-object-ungroup fa-lg"></i> Tipo de objeto digital <span
                                                    class="fas fa-angle-down"></span></a>
                                            </li>
                                            <ul class="sub-menu collapse" id="tipo-de-objeto-digital">
                                                <li><input type="checkbox" aria-label="Checkbox for following text input"> Imagen
                                                </li>
                                                <li><input type="checkbox" aria-label="Checkbox for following text input"> Texto
                                                </li>
                                                <li><input type="checkbox" aria-label="Checkbox for following text input"> Video
                                                </li>
                                                <li><input type="checkbox" aria-label="Checkbox for following text input"> Audio
                                                </li>
                                                
                                            </ul>
                                            <li data-toggle="collapse" data-target="#tipo-de-objeto" class="collapsed">
                                                <a href="#"><i class="fas fa-cubes fa-lg"></i> Tipo de objeto <span
                                                    class="fas fa-angle-down"></span></a>
                                            </li>
                                            <ul class="sub-menu collapse results" id="tipo-de-objeto">
                                                
                                            </ul>
                                            <ul class="sub-menu collapse" id="tipo-de-objeto">
                                                <li><button class="btn btn-light" id="loadmorebtn">
                                                    <img src="ajax-loader.gif" class="ani_image" style="float:left">
                                                    &nbsp; Cargar más
                                                </button></li>
                                            </ul>
            
            
                                            <li data-toggle="collapse" data-target="#fecha" class="collapsed">
                                                <a href="#"><i class="fas fa-calendar-alt fa-lg"></i>Fecha / Periodo / Época <span
                                                    class="fas fa-angle-down"></span></a>
                                            </li>
                                            <ul class="sub-menu collapse" id="fecha">
                                                <li>
                                                        
                                                            <span class="filterTitle">Rango años</span>
                                                            <div class="dateADate">
                                                                
                                                            <span class="sr-only"><label for="Año inicio">Año inicio</label></span>
                                                            <input type="number" data-ng-value="" name="anneeDebut" id="añoinicio" data-ng-required="false" data-ng-model="$ctrl.anneeStart" data-ng-change="$ctrl.setPeriodeAnnees()" autocomplete="off" placeholder="0000"  style="width: 50px;" min="0000" max="2019">
                                                            a
                                                            <span class="sr-only"><label for="Año final">Año final</label></span>
                                                            <input type="number" data-ng-value="" name="anneeDebut" id="añofin" data-ng-required="false" data-ng-model="$ctrl.anneeStart" data-ng-change="$ctrl.setPeriodeAnnees()" autocomplete="off" placeholder="2019"  style="width: 50px;" min="0000" max="2019">
                                                            
                                                            </div>
                                                        
                                                </li>        
                                                <li>Siglo
                                                    <select class="custom-select" id="inputGroupSelect01">
                                                        <option selected>Cualquiera</option>
                                                        <option value="1">XIV</option>
                                                        <option value="2">XV</option>
                                                        <option value="3">XVI</option>
                                                        <option value="4">XVII</option>
                                                    </select></li>
                                                <li>Periodo
                                                        <select class="custom-select" id="inputGroupSelect01">
                                                            <option selected>Cualquiera</option>
                                                            <option value="1">Neoclásico</option>
                                                            <option value="2">Virreinato</option>
                                                            <option value="3">Prehistórico</option>
                                                </select></li>    
                                               
                                            </ul>
                                            <li data-toggle="collapse" data-target="#institucion" class="collapsed">
                                                <a href="#"><i class="fas fa-university fa-lg"></i>Institución de procedencia <span
                                                    class="fas fa-angle-down"></span></a>
                                            </li>
                                            <ul class="sub-menu collapse" id="institucion">
                                                <li><input type="checkbox" aria-label="Checkbox for following text input">
                                                    Institución 1
                                                </li>
                                                <li><input type="checkbox" aria-label="Checkbox for following text input">
                                                    Institución 2
                                                </li>
                                                <li><input type="checkbox" aria-label="Checkbox for following text input">
                                                    Institución 3
                                                </li>
                                                <li><input type="checkbox" aria-label="Checkbox for following text input">
                                                    Institución 4
                                                </li>
                                                <li><input type="checkbox" aria-label="Checkbox for following text input">
                                                    Institución 5
                                                </li>
                                                <li><input type="checkbox" aria-label="Checkbox for following text input">
                                                    Institución 6
                                                </li>
                                                <li><input type="checkbox" aria-label="Checkbox for following text input">
                                                    Institución 7
                                                </li>
                                            </ul>
                                            <li data-toggle="collapse" data-target="#derechos" class="collapsed">
                                                <a href="#"><i class="fas fa-university fa-lg"></i>Derechos de Uso<span
                                                    class="fas fa-angle-down"></span></a>
                                            </li>
                                            <ul class="sub-menu collapse" id="derechos">
                                                <li><select class="custom-select" id="inputGroupSelect01">
                                                    <option selected>Cualquiera</option>
                                                    <option value="1">Derechos Reservados</option>
                                                    <option value="2">Uso Educativo</option>
                                                    <option value="3">Dominio Público</option>
                                                    <option value="4">Uso no restringido o permitido</option>
                                                    <option value="5">Obras de Titular no identificado o identificable</option>
                                                    <option value="3">Obras Anónimas</option>   
                                                </select>
                                                </li>
                                            </ul>
                                            <li data-toggle="collapse" class="collapsed">
                                                <input type="reset" value="Borrar información" onclick="formReset()" value="Reset">
                                            </li>
                                            
                                        </ul>
                                    </div>
                            </form>
                        </div>
                    </div>

					<!--Contenedor Resultados-->

                    <div class="container-fluid col-lg-9 col-md-12 col-sm-12 col-12 p-0" id="main" style="width: 100%;">
                        <div class="row m-sm-1 mx-3">

                            <!--Resultados-->
                            <div class="col-lg-3  col-sm-3 col-6 px-1 py-1">
                                <div class="card">
                                    <div class="col-md-2 col-3 bg-dark d-flex align-self-center p-0 contenedor imagen-tabla-movil imagen-tabla-tablet" style="min-height: 139px; min-width: 100%;">
                                        <img class="card-img img-responsiva" alt="" src="recursos/img/Saxofon.jpg" style="max-height: 139px;">
                                        <div class="card-img-overlay p-0 d-flex justify-content-between">
                                            <a class="card-img-overlay" href="cedula.html"></a>
                                            <span class="badge badge bg-dark p-2 align-self-start">
                                                <i class="fas fa-cube fa-2x text-light" aria-hidden="true"></i>
                                            </span>
                                            <span class="badge badge p-1 align-self-end" style="z-index: 1;">
                                                <a href="#">
                                                    <i class="fas fa-plus-circle fa-2x text-primary" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <a href="cedula.html">
                                        <div class="card-body p-2" style="min-height: 100px;">
                                            <h5 class="card-title">Sin titulo</h5>
                                            <p class="card-text">Some example text.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3  col-sm-3 col-6 px-1 py-1">
                                <div class="card">
                                    <div class="col-md-2 col-3 bg-dark d-flex align-self-center p-0 contenedor imagen-tabla-movil imagen-tabla-tablet" style="min-height: 139px; min-width: 100%;">
                                        <img class="card-img img-responsiva" alt="" src="recursos/img/balafon.jpg" style="max-height: 139px;">
                                        <div class="card-img-overlay p-0 d-flex justify-content-between">
                                            <a class="card-img-overlay" href="cedula.html"></a>
                                            <span class="badge badge bg-dark p-2 align-self-start">
                                                <i class="fas fa-cube fa-2x text-light" aria-hidden="true"></i>
                                            </span>
                                            <span class="badge badge p-1 align-self-end" style="z-index: 1;">
                                                <a href="#">
                                                    <i class="fas fa-plus-circle fa-2x text-primary" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="cedula.html">
                                        <div class="card-body p-2" style="min-height: 100px;">
                                            <h5 class="card-title">Sin titulo</h5>
                                            <p class="card-text">Some example text.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3  col-sm-3 col-6 px-1 py-1">
                                <div class="card">
                                    <div class="col-md-2 col-3 bg-dark d-flex align-self-center p-0 contenedor imagen-tabla-movil imagen-tabla-tablet" style="min-height: 139px; min-width: 100%;">
                                        <img  class="card-img img-responsiva" alt="" src="recursos/img/Oboe.jpg" style="max-height: 139px;">
                                        <div class="card-img-overlay p-0 d-flex justify-content-between">
                                            <a class="card-img-overlay" href="cedula.html"></a>
                                            <span class="badge badge bg-dark p-2 align-self-start">
                                                <i class="fas fa-cube fa-2x text-light" aria-hidden="true"></i>
                                            </span>
                                            <span class="badge badge p-1 align-self-end" style="z-index: 1;">
                                                <a href="#">
                                                    <i class="fas fa-plus-circle fa-2x text-primary" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="cedula.html">
                                        <div class="card-body p-2" style="min-height: 100px;">
                                            <h5 class="card-title">Sin titulo</h5>
                                            <p class="card-text">Some example text.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3  col-sm-3 col-6 px-1 py-1">
                                <div class="card">
                                    <div class="col-md-2 col-3 bg-dark d-flex align-self-center p-0 contenedor imagen-tabla-movil imagen-tabla-tablet" style="min-height: 139px; min-width: 100%;">
                                        <img  class="card-img img-responsiva" alt="" src="recursos/img/Bongos.jpg" style="max-height: 139px;">
                                        <div class="card-img-overlay p-0 d-flex justify-content-between">
                                            <a class="card-img-overlay" href="cedula.html"></a>
                                            <span class="badge badge bg-dark p-2 align-self-start">
                                                <i class="fas fa-cube fa-2x text-light" aria-hidden="true"></i>
                                            </span>
                                            <span class="badge badge p-1 align-self-end" style="z-index: 1;">
                                                <a href="#">
                                                    <i class="fas fa-plus-circle fa-2x text-primary" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="cedula.html">
                                        <div class="card-body p-2" style="min-height: 100px;">
                                            <h5 class="card-title">Sin titulo</h5>
                                            <p class="card-text">Some example text.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3  col-sm-3 col-6 px-1 py-1">
                                <div class="card">
                                    <div class="col-md-2 col-3 bg-dark d-flex align-self-center p-0 contenedor imagen-tabla-movil imagen-tabla-tablet" style="min-height: 139px; min-width: 100%;">
                                        <img  class="card-img img-responsiva" alt="" src="recursos/img/congas.jpg" style="max-height: 139px;">
                                        <div class="card-img-overlay p-0 d-flex justify-content-between">
                                            <a class="card-img-overlay" href="cedula.html"></a>
                                            <span class="badge badge bg-dark p-2 align-self-start">
                                                <i class="fas fa-cube fa-2x text-light" aria-hidden="true"></i>
                                            </span>
                                            <span class="badge badge p-1 align-self-end" style="z-index: 1;">
                                                <a href="#">
                                                    <i class="fas fa-plus-circle fa-2x text-primary" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="cedula.html">
                                        <div class="card-body p-2" style="min-height: 100px;">
                                            <h5 class="card-title">Sin titulo</h5>
                                            <p class="card-text">Some example text.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3  col-sm-3 col-6 px-1 py-1">
                                <div class="card">
                                    <div class="col-md-2 col-3 bg-dark d-flex align-self-center p-0 contenedor imagen-tabla-movil imagen-tabla-tablet" style="min-height: 139px; min-width: 100%;">
                                        <img  class="card-img img-responsiva" alt="" src="recursos/img/Marimba.jpg" style="max-height: 139px;">
                                        <div class="card-img-overlay p-0 d-flex justify-content-between">
                                            <a class="card-img-overlay" href="cedula.html"></a>
                                            <span class="badge badge bg-dark p-2 align-self-start">
                                                <i class="fas fa-cube fa-2x text-light" aria-hidden="true"></i>
                                            </span>
                                            <span class="badge badge p-1 align-self-end" style="z-index: 1;">
                                                <a href="#">
                                                    <i class="fas fa-plus-circle fa-2x text-primary" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="cedula.html">
                                        <div class="card-body p-2" style="min-height: 100px;">
                                            <h5 class="card-title">Sin titulo</h5>
                                            <p class="card-text">Some example text.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                                    
                            <div class="col-lg-3  col-sm-3 col-6 px-1 py-1">
                                <div class="card">
                                    <div class="col-md-2 col-3 bg-dark d-flex align-self-center p-0 contenedor imagen-tabla-movil imagen-tabla-tablet" style="min-height: 139px; min-width: 100%;">
                                        <img  class="card-img img-responsiva" alt="" src="recursos/img/percusiones.jpg" style="max-height: 139px;">
                                        <div class="card-img-overlay p-0 d-flex justify-content-between">
                                            <a class="card-img-overlay" href="cedula.html"></a>
                                            <span class="badge badge bg-dark p-2 align-self-start">
                                                <i class="fas fa-cube fa-2x text-light" aria-hidden="true"></i>
                                            </span>
                                            <span class="badge badge p-1 align-self-end" style="z-index: 1;">
                                                <a href="#">
                                                    <i class="fas fa-plus-circle fa-2x text-primary" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="cedula.html">
                                        <div class="card-body p-2" style="min-height: 100px;">
                                            <h5 class="card-title">Sin titulo</h5>
                                            <p class="card-text">Some example text.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3  col-sm-3 col-6 px-1 py-1">
                                <div class="card">
                                    <div class="col-md-2 col-3 bg-dark d-flex align-self-center p-0 contenedor imagen-tabla-movil imagen-tabla-tablet" style="min-height: 139px; min-width: 100%;">
                                        <img  class="card-img img-responsiva" alt="" src="recursos/img/Piano.jpg" style="max-height: 139px;">
                                        <div class="card-img-overlay p-0 d-flex justify-content-between">
                                            <a class="card-img-overlay" href="cedula.html"></a>
                                            <span class="badge badge bg-dark p-2 align-self-start">
                                                <i class="fas fa-cube fa-2x text-light" aria-hidden="true"></i>
                                            </span>
                                            <span class="badge badge p-1 align-self-end" style="z-index: 1;">
                                                <a href="#">
                                                    <i class="fas fa-plus-circle fa-2x text-primary" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="cedula.html">
                                        <div class="card-body p-2" style="min-height: 100px;">
                                            <h5 class="card-title">Sin titulo</h5>
                                            <p class="card-text">Some example text.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3  col-sm-3 col-6 px-1 py-1">
                                <div class="card">
                                    <div class="col-md-2 col-3 bg-dark d-flex align-self-center p-0 contenedor imagen-tabla-movil imagen-tabla-tablet" style="min-height: 139px; min-width: 100%;">
                                        <img  class="card-img img-responsiva" alt="" src="recursos/img/tololoche.jpg" style="max-height: 139px;">
                                        <div class="card-img-overlay p-0 d-flex justify-content-between">
                                            <a class="card-img-overlay" href="cedula.html"></a>
                                            <span class="badge badge bg-dark p-2 align-self-start">
                                                <i class="fas fa-cube fa-2x text-light" aria-hidden="true"></i>
                                            </span>
                                            <span class="badge badge p-1 align-self-end" style="z-index: 1;">
                                                <a href="#">
                                                    <i class="fas fa-plus-circle fa-2x text-primary" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="cedula.html">
                                        <div class="card-body p-2" style="min-height: 100px;">
                                            <h5 class="card-title">Sin titulo</h5>
                                            <p class="card-text">Some example text.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3  col-sm-3 col-6 px-1 py-1">
                                <div class="card">
                                    <div class="col-md-2 col-3 bg-dark d-flex align-self-center p-0 contenedor imagen-tabla-movil imagen-tabla-tablet" style="min-height: 139px; min-width: 100%;">
                                        <img  class="card-img img-responsiva" alt="" src="recursos/img/Trompeta.jpg" style="max-height: 139px;">
                                        <div class="card-img-overlay p-0 d-flex justify-content-between">
                                            <a class="card-img-overlay" href="cedula.html"></a>
                                            <span class="badge badge bg-dark p-2 align-self-start">
                                                <i class="fas fa-cube fa-2x text-light" aria-hidden="true"></i>
                                            </span>
                                            <span class="badge badge p-1 align-self-end" style="z-index: 1;">
                                                <a href="#">
                                                    <i class="fas fa-plus-circle fa-2x text-primary" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="cedula.html">
                                        <div class="card-body p-2" style="min-height: 100px;">
                                            <h5 class="card-title">Sin titulo</h5>
                                            <p class="card-text">Some example text.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-lg-3  col-sm-3 col-6 px-1 py-1">
                                <div class="card">
                                    <div class="col-md-2 col-3 bg-dark d-flex align-self-center p-0 contenedor imagen-tabla-movil imagen-tabla-tablet" style="min-height: 139px; min-width: 100%;">
                                        <img  class="card-img img-responsiva" alt="" src="recursos/img/Violin.jpg" style="max-height: 139px;">
                                        <div class="card-img-overlay p-0 d-flex justify-content-between">
                                            <a class="card-img-overlay" href="cedula.html"></a>
                                            <span class="badge badge bg-dark p-2 align-self-start">
                                                <i class="fas fa-cube fa-2x text-light" aria-hidden="true"></i>
                                            </span>
                                            <span class="badge badge p-1 align-self-end" style="z-index: 1;">
                                                <a href="#">
                                                    <i class="fas fa-plus-circle fa-2x text-primary" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="cedula.html">
                                        <div class="card-body p-2" style="min-height: 100px;">
                                            <h5 class="card-title">Sin titulo</h5>
                                            <p class="card-text">Some example text.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3  col-sm-3 col-6 px-1 py-1">
                                <div class="card">
                                    <div class="col-md-2 col-3 bg-dark d-flex align-self-center p-0 contenedor imagen-tabla-movil imagen-tabla-tablet" style="min-height: 139px; min-width: 100%;">
                                        <img  class="card-img img-responsiva" alt="" src="recursos/img/bajo.jpg" style="max-height: 139px;">
                                        <div class="card-img-overlay p-0 d-flex justify-content-between">
                                            <a class="card-img-overlay" href="cedula.html"></a>
                                            <span class="badge badge bg-dark p-2 align-self-start">
                                                <i class="fas fa-cube fa-2x text-light" aria-hidden="true"></i>
                                            </span>
                                            <span class="badge badge p-1 align-self-end" style="z-index: 1;">
                                                <a href="#">
                                                    <i class="fas fa-plus-circle fa-2x text-primary" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="cedula.html">
                                        <div class="card-body p-2" style="min-height: 100px;">
                                            <h5 class="card-title">Sin titulo</h5>
                                            <p class="card-text">Some example text.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>          
                        </div> 

                        <div class="row my-1 d-flex justify-content-center" style="width: 100%;">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
				</div>
			</div>
		</main>

		<!-- atún sellado de mi casa, y un limón -->
        <footer class="footer mt-auto py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <ul>
                            <li><a href="#">Coordinación</a></li>
                            <li><a href="#">Instituciones vinculadas</a></li>
                            <li><a href="#">Marco jurídico</a></li>
                            <li><a href="#">Aviso de privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <ul>
                            <li><a href="#">Mapa de sitio</a></li>
                            <li><a href="#">Documentación técnica</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Cómo usar el sitio</a></li>
                        </ul>
                    </div>
                    <div class="col-md-1 col-sm-12 justify-content-end"></div>
                    <div class="col-md-3 col-sm-12 d-flex justify-content-start flex-column">
                        <ul class="memoria-redes">
                            <li><a href="#"> <i class="fab fa-facebook-f"></i> </a></li>
                            <li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
                            <li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- <script src="recursos/js/range_Timeline.js" crossorigin="anonymous"></script> -->

        <!-- Script TIMELINE -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function() {
            $( "#slider-range" ).slider({
                range: true,
                min: 0,
                max: 2019,
                values: [ 0, 2019 ],
                slide: function( event, ui ) {
                $( "#añoinicio" ).val( ui.values[ 0 ]);
                $( "#añofin" ).val(+ ui.values[ 1 ]);
                }
            });
            $( "#añoinicio" ).val($( "#slider-range" ).slider( "values", 0 ));
            $( "#añofin" ).val($( "#slider-range" ).slider( "values", 1 ));
            } );
        </script>

        
        <!-- Script MAS RESULTADOS -->
        <script>
            var mipagina = 1;
            micontenido(mipagina);
            $('#loadmorebtn').click(function(e){
                mipagina++;
                micontenido(mipagina);
                return false;
            })
            function micontenido(mipagina){
                $('.ani_image').show()
                $.post('data.php', {page: mipagina}, function(data){
                    if(data.trim().length == 0){
                        $('#loadmorebtn').text("No hay mas resultados").prop("disabled", true)
                    }
                    $('.results').append(data)
                    $("html, body").animate({scrollTop: $("#loadmorebtn").offset().top/1.7}, 800)
                    $('.ani_image').hide()
                })
                return false;
            }
        </script>


    </body>
</html>

