@font-face {
    font-family: "Oswald";
    src: url(https://fonts.googleapis.com/css?family=Oswald:700&display=swap) format("truetype");
    font-style: normal;
    -webkit-font-smoothing: subpixel-antialiased;
}
/* estos  */
@font-face {
    font-family: "Roboto";
    src: url(https://fonts.googleapis.com/css?family=Roboto&display=swap) format("truetype");
    font-style: normal;
    -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: 'MerriweatherSans-Regular';
  src: url(/recursos/Type/MerriweatherSans-Regular.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: 'MerriweatherSans-Bold';
  src: url(/recursos/Type/MerriweatherSans-Bold.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: 'MerriweatherSans-light';
  src: url(/recursos/Type/MerriweatherSans-Light.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

/*-------------------------------Estilos generales-------------------------------*/

html {
    font-family: 'MerriweatherSans-Regular';
    font-size: 16px;
    width: 100%;
}

body.principal {
    background-color: gainsboro;
    padding-top: 256px; /*Tamaño preliminar*/
}

body.secundario {
    padding-top: 156px; /*Tamaño preliminar*/
}

nav {
    text-align: center;
}

.memoria-dropdown-scroll {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

p{
  font-family: 'MerriweatherSans-Regular';
  color: #092834;
  font-size: 14px;
}
/* aregado por mauro: titulos de página  */
h5{
  font-family: 'MerriweatherSans-bold';
  color: #092834;
  font-size: 17px;
}

.texto2columnas{
  font-family: 'MerriweatherSans-Regular';
  color: #092834;
  font-size: 14px;
  column-count:2;
  column-gap: 40px;
  column-width: 240px;
}

footer a{
  font-family: 'MerriweatherSans-Regular';
  color: #092834;
  font-size: 14px;
  
  
}
footer a:hover{
  text-decoration: none;
  color: #347B98;
}

footer li{
  margin-bottom: 1px;
}


.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,1);
}

.favicom{
  font-size: 25px;
}
/* mauro */

a{
  font-family: 'MerriweatherSans-Bold';
  color: #092834;
}
a:hover{
  text-decoration: none;
  color: #347B98;
}

/*-------------------------------Header y navegación-------------------------------*/

/*---------------- Barra Navegacion -------------- */

div.barra-superior{
  min-height: 15px;
  background-color: #092834;
}



.nav-principal {
    font-family:'MerriweatherSans-Regular','Oswald', sans-serif;
    color: white;
    /* background-color: #092834; */
    height: 35px;  /*Tamaño preliminar*/
    font-size: 25px;  /*Tamaño preliminar*/
    position: fixed;
    width: 100%;
}


div.memoria-buscador {
    
    /* background-color: gray; */
    /* position: fixed; */
    top: 56px;  /*Tamaño preliminar*/
    z-index: 2;
}

.inputbuscador[type=text] {
  font-family: 'MerriweatherSans-Regular','Oswald', sans-serif;
  color: white;
  background-color: #092834;
  font-size: 15px;
  text-align: center;
  text-decoration-color: #ffffff;
  height: 28px;
  
  
}

.inputbuscador::placeholder {
  font-family: 'MerriweatherSans-Regular';
  color: #fff;
}

div.botones-pestañas{
  border-top: 1px solid #092834;
  min-height: 45px;
}
div.opciones_resultados{
  border-bottom: 1px solid #092834;
  min-height: 45px;
}
.botones-pestañas a{
  font-family: 'MerriweatherSans-Bold';
  color: #092834;
  font-size: 15px;

}

.botones-pestañas a:hover {
  border-top: 3px solid #FF026A; 
}


.memoria-buscador input {
  text-align: center;
  color: firebrick;
}

div.altura-variable {
    height: 200px; /*Tamaño peculiar*/
}

div.altura-fija {
    height: 100px; /*Tamaño preliminar*/
}



.fila-centrada {
    width: 100%;
}

div.memoria-timeline {
    background-color: #000;
    height: 500px; /*Tamaño preliminar*/
}

div.memoria-pestañas {
    position: sticky;
    top: 156px;  /*Tamaño preliminar*/
    background-color: gainsboro;
    z-index: 1;
}

.modos_visualizar{
  cursor: pointer;
}

/*-------------------------------Cuerpo de página-------------------------------*/

.fila {
    background-color: darkkhaki;
    justify-content: space-around;
}

/* cambio a 15px de tamaño
 */
.breadcrumb-item{
  font-family: 'MerriweatherSans-Regular';
  color: #092834;
  font-size: 15px;
}

.resultados_pagina{
  font-family: 'MerriweatherSans-Bold';
  color: #347B98;
  font-size: 14px;
  height: 30px;
  padding: 5;
  width: 58px;
}



/*-------------------------------Resultados de búsqueda-------------------------------*/

p.card-text {
  font-family: 'MerriweatherSans-Regular';
  margin: 0px;
  font-size: 14px;
  font-weight: 200;
}

.img-responsiva{
  object-fit: contain;
}

/*-------------------------------Facetador-------------------------------*/

.nav-side-menu {
  font-family: 'MerriweatherSans-Regular';
  overflow: auto;
  font-size: 12px;
  font-weight: 200;
  background-color: #fff;
  /* position: absolute; */
  top: 0px;
  width: 100%;
  height: 100%;
  color: #092834;
}
.nav-side-menu .brand {
  font-family: 'MerriweatherSans-Bold';
  background-color: #fff;
  color: #092834;
  line-height: 28px;
  display: block;
  text-align: center;
  font-size: 18px;
}  
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li{
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /* background-color: #092834; */
}  


.facetas{
    background-color: #092834;
    
    /* outline: 5px solid #fff;  */
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
                 /* font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right; */
           
     }

.out a{
  font-family: 'MerriweatherSans-Bold';
  font-size: 13px;

}


.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  /* font-family: FontAwesome;
  content: "\f078"; */
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;

}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  
  background-color: #4f5b69;
}
/* .nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #FF026A;
} */
/* .nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #FF026A;
} */
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #fff;
  border: none;
  line-height: 28px;
  margin-top: 10px; /* Margen superior contenedor de opciones */
  margin-bottom: 10px; /* Margen superior contenedor de opciones */
  
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  /* border-left: 3px solid #FF026A; */
  /* background-color: #f5f5f5; */
  /* -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  /* font-family: FontAwesome;
  content: "\f105"; */
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 20px;
  padding-right: 20px;
  /* padding: 10px; */
  /* padding-top: 10px;
  padding-bottom: 10px; */
  /* border-left: 3px solid #2e353d; */
  /* border-bottom: 1px solid #23282e; */
}
.nav-side-menu li a {
  text-decoration: none;
  color: #fff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  /* border-left: 3px solid #FF026A; */
  background-color: #0a3241;
  
}
  /* estilo rango de años */
.años{
    font-family: 'MerriweatherSans-Regular';
    color: #347B98;
    font-size: 11px;
    height: 23px;
    padding-left: 5px;
    
  /* width: 58px;     */

    /* remove default browser styling */
  -webkit-appearance: none;
  -mox-appearance: none;
  -o-appearance: none;
  appearance: none;

  /* custom styling */
  /* background-color: #f2f2f2; */
  border: 1px solid #347B98;
  border-radius: 4px;
  /* border-style: inset; */
  cursor: pointer;
  outline: none;

}

.años::placeholder {
  font-family: 'MerriweatherSans-Bold';
  color: #347B98;
}


.autor{ 
    font-family: 'MerriweatherSans-Regular';
    color: #347B98;
    font-size: 11px;
    height: 23px;
    padding: 5;
    
    /* width: 58px;     */

    	/* remove default browser styling */
	-webkit-appearance: none;
	-mox-appearance: none;
	-o-appearance: none;
	appearance: none;

	/* custom styling */
	/* background-color: #f2f2f2; */
	border: 1px solid #347B98;
  border-radius: 4px;
  /* border-style: inset; */
	cursor: pointer;
	outline: none;
}

.autor::placeholder {
  font-family: 'MerriweatherSans-Bold';
  color: #347B98;
}
.custom-select{
  padding: 3.5px;
  
}

.radio_facetador{
  font-family: 'MerriweatherSans-Bold';
  color: #347B98;
  font-size: 11px;
  height: 23px;
  padding-left: 5px;
  /* width: 58px; */

  -webkit-appearance: none;
	-mox-appearance: none;
	-o-appearance: none;
  appearance: none;
  
  	/* custom styling */
	/* background-color: #f2f2f2; */
	border: 1px solid #347B98;
  border-radius: 4px;
  /* border-style: inset; */
	cursor: pointer;
	outline: none;
}

.boton_limpiar_formulario{
  font-family: 'MerriweatherSans-Bold';
  color: #092834;
  background-color: #fff;
  font-size: 11px;
  height: 30px;
  padding-left: 5px;
  /* width: 58px; */

  -webkit-appearance: none;
	-mox-appearance: none;
	-o-appearance: none;
  appearance: none;
  
  	/* custom styling */
	/* background-color: #f2f2f2; */
	border: 2px solid #092834;
  border-radius: 4px;
  /* border-style: inset; */
	cursor: pointer;
	outline: none;
}


.sub-menu li{
 color: #347B98;
 font-family: 'MerriweatherSans-Bold';
}
 
  /* CheckBox */


.checkbox_1 {

	cursor: pointer;
	padding: 0.5rem;
  position: relative;
  margin-right:10px; 
}

.checkbox_1 > span {
	padding: 0 .25rem;
}

.checkbox_1 > input {
	width: 13px;
	height: 13px; 

	/* remove default browser styling */
	-webkit-appearance: none;
	-mox-appearance: none;
	-o-appearance: none;
	appearance: none;

	/* custom styling */
	background-color: #f2f2f2;
	border: 1.5px solid #347B98;
	border-radius: 4px;
	cursor: pointer;
	outline: none;

	transition-duration: 0.3s;
}

.checkbox_1 > input:checked {
	border: 2px solid #347B98;
	background-color: #347B98;
}

/* style checkmark symbol */
.checkbox_1 > input:checked + span::before {
	color: #004466;
	content: "\2713";
	text-align: center;

	display: block;
	position: absolute;
	/* left: .95rem;
	top: .5rem; */
}

.checkbox_1 > input:active {
	border: 2px solid #347B98;
}

.checkbox_1 > input:focus + label::before {
	outline: #5d9dd5 solid 1px;
	box-shadow: 0 0px 8px #5e9ed6;
}
/*-------------------------------Paginador-------------------------------*/

.page-link{
  font-family: 'MerriweatherSans-Bold';
  font-size: 16px;
  color:  #092834;
  border: none;
}
.page-link:hover{
  color:  #347B98;
  background-color: rgb(255, 255, 255);
}
.page-item.active .page-link {
  z-index: 1;
  color: #347B98;
  background-color: #fff;
  border-color: #fff;
}

/*-------------------------------Footer-------------------------------*/

footer {
    
    width: 100%;
}



ul.memoria-redes{
  font-size: 30pt; /*Tamaño preliminar*/
}

ul.memoria-redes li {
    display: inline;
    padding-left: 5px;
    font-size: 20pt;
}

footer li {
  list-style-type: none;
}

@media (max-width: 692px) {
  .contenedor-izquierdo {
    border-right: none;
  }
  .contenedor-derecho{
    padding-top: 10px;
  } 
  .contenedor-derecho img{
    height: 50px;
  }   
} 

 @media (min-width: 693px) {
  .contenedor-izquierdo {
    border-right: 2px solid #092834;
  }
  .contenedor-derecho{
    padding-top: 0px;
  } 
  .contenedor-derecho img{
    height: 70px;
  }   
} 



/*-------------------------------Media queries-------------------------------*/

@media (max-width: 992px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: rgb(9, 40, 52);
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}

@media (min-width: 990px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
  	width:calc(100% - 300px);
  	float: right;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

@media (min-width: 576px) and (max-width:767px) {
  .imagen-tabla-movil{
    min-height: 130px; 
    min-width: 100%;
  }
 }
 
 @media (max-width:575px) {
  .imagen-tabla-tablet{
    min-height: 205px; 
    min-width: 100%;
  }
 }

 @media (max-width: 576px) {
  .card-columns {
    column-count: 2;
  }  
}

@media (min-width: 767px) {
  .card-columns {
    column-count: 3;
  }  
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }  
}

